:root {
  --pink: #e50a89;
}

body {
  font-family: 'Raleway', sans-serif;
}

.background-pink {
  background: linear-gradient(#530060, var(--pink));
  background-size: cover;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* splash screen*/

.loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#530060, var(--pink));
  z-index: 999;
}

.loading-splash.loaded {
  opacity: 0;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.bg-image-1 {
  height: 100vh;
  background-image: url('../assets/images/bg-image.jpg');
}

.buton {
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.buton a {
  background-color: transparent;
  border-color: white;
  margin-bottom: 10px;
}

.text-white {
  color: white;
  font-weight: 700;
}

.buton a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e50a89;
  border: 1px solid var(--pink);
}

.return {
  color: var(--pink);
  padding: 10px;
  font-size: 25px;
  display: flex;
}

.return span {
  border: 2px solid var(--pink);
  border-radius: 50%;
  padding: 5px;
}

.return:hover {
  color: var(--pink);
}

.fa.icon {
  display: table-cell;
}

input.form-control.input-name {
  width: 50%;
}

.form-control {
  width: 85%;
  margin: 0;
}

.dropdown-menu {
  min-width: 0;
  margin-left: 10px;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.bt-pink {
  background-color: var(--pink);
  color: #fff;
  font-weight: 700px;
  font-size: 20px; 
}

.bt-pink:hover {
  background-color: #ff00c3;
  color: white;
}

.mt {
  margin-top: 150px;
}

.sp {
  font-size: 10px;
}

span.sp {
  margin: 5px 0;
}

.resend {
  margin: 10px 0;
  font-weight: 700px;
  font-size: 20px;
}

.resend:hover {
  background-color: var(--pink);
  color: #fff;
}

.col-xs-12.input-group {
  margin-top: 20px;
  padding: 0 10px;
}