body {
  font-family: 'Raleway', sans-serif;
}

.background-pink {
  background: linear-gradient(#530060, #e50a89);
  background-size: cover;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* splash screen*/

.loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#530060, #e50a89);
  z-index: 999;
}

.loading-splash.loaded {
  opacity: 0;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.bg-image-1 {
  height: 100vh;
  background-image: url('../assets/images/bg-image.jpg');
}

.buton {
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.buton a {
  background-color: transparent;
  border-color: white;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

.buton a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e50a89;
  border: 1px solid #e50a89;
}

.return {
  color: #e50a89;
  padding: 10px;
  font-size: 25px;
  display: flex;
}

.return:hover {
  color: #e50a89;
}

.form-control {
  width: 85%;
  margin: 0;
}

.dropdown-menu {
  min-width: 0;
  margin-left: 10px;
}

.inline {
  display: inline;
}